:root{
    --font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 50, 120);
    margin: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(0, 50, 120);
    color: white;
    z-index: 1;
    box-shadow: inset 0 0 5px black
}
.navbar-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.navbar-name-font{
    font-size: 25px;
    font-family: var(--font-family);
    color: white;
}
.navbar-menu-container{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.menu-btn{
    font-size: 20px;
    font-family: var(--font-family);
    background-color: transparent;
    border:0;
    cursor: pointer;
    margin-left: 5%;
}
.menu-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--font-family);
}
.javascript-pic{
    background-image: url(./pictures/javascript-code.jpg);
    min-height: 500px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 5px 10px black, inset 0 -5px 10px black;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.border {
    background-color: black;
    padding: 20px 50px;
}
.project-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 2% 15% 3% 15%;
}
.project-info{
    display: flex;
    flex-direction: column;
}
.project-container h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: var(--font-family);
    color: white;
}
.project-text{
    font-size: 20px;
    font-family: var(--font-family);
    margin: 0 5% 5% 2%;
}
p{
    font-size: 20px;
    font-family: var(--font-family);
    color: white;
    margin: 0;
    line-height: 1.8;
}